:root {
  color-scheme: only light;
  --ratio: 1;
  --length: 15;
}
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  user-select: none;
}
body {
  background: #151519;
}

.sec1 {
  position: relative;
  height: calc(75px * var(--ratio));
  width: calc(100% - (80px * var(--ratio)));
  margin-left: calc(40px * var(--ratio));
  border-radius: calc(10px * var(--ratio));
  margin-top: calc(39px * var(--ratio));
  background: #2a2a32;
}
.copy-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(20px * var(--ratio));
  width: calc(50px * var(--ratio));
  height: calc(50px * var(--ratio));
  border-radius: calc(5px * var(--ratio));
  background: #3b3b49;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}
.copy-btn img,
.copy-btn svg {
  width: calc(18.32px * var(--ratio));
  height: calc(20.95px * var(--ratio));
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.copy-btn .icon2 {
  left: 100%;
  width: calc(20.95px * var(--ratio));
  height: calc(20.95px * var(--ratio));
  opacity: 0;
}
.password-cont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(20px * var(--ratio));
  height: calc(50px * var(--ratio));
  width: calc(238px * var(--ratio));
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-text {
  color: white;
  font-size: calc(17.52px * var(--ratio));
}
.sec2 {
  position: relative;
  margin-top: calc(50px * var(--ratio));
  height: calc(280px * var(--ratio));
  width: calc(100% - (80px * var(--ratio)));
  margin-left: calc(40px * var(--ratio));
  border-radius: calc(10px * var(--ratio));
  background: #232327;
}
.list {
  position: relative;
  width: 100%;
  height: calc(70px * var(--ratio));
}
.list-text {
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: calc(20px * var(--ratio));
  font-size: calc(17.52px * var(--ratio));
}
.switch {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(20px * var(--ratio));
  height: calc(34.44px * var(--ratio));
  width: calc(62px * var(--ratio));
  background: #141416;
  border-radius: calc(34.44px * var(--ratio));
  overflow: hidden;
}
.switch-inner {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: calc(18px * var(--ratio));
  height: calc(18px * var(--ratio));
  box-sizing: border-box;
  border: calc(3px * var(--ratio)) solid #d9d9d9;
  border-radius: 50%;
  left: calc(8px * var(--ratio));
}
.sec3 {
  position: relative;
  margin-top: calc(50px * var(--ratio));
  height: calc(70px * var(--ratio));
  width: calc(100% - (80px * var(--ratio)));
  margin-left: calc(40px * var(--ratio));
  border-radius: calc(10px * var(--ratio));
  background: #232327;
}
.slider {
  -webkit-appearance: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  /* right: calc(20px * var(--ratio)); */
  height: calc(10px * var(--ratio));
  width: calc(217px * var(--ratio));
  background: rgba(2, 2, 2, 0.29);
  border-radius: calc(6px * var(--ratio));
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: calc(26px * var(--ratio));
  height: calc(26px * var(--ratio));
  border-radius: calc(50%);
  background: transparent;
}
.slider::-webkit-slider-thumb::before {
  content: "16";
}
.slider-cont {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: calc(20px * var(--ratio));
  height: calc(10px * var(--ratio));
  width: calc(217px * var(--ratio));
  /* background: red; */
}
.slider-text {
  pointer-events: none;
  /* color: red; */
  position: absolute;
  top: 50%;
  left: calc((100% - (26px * var(--ratio))) * (var(--length) / 15));
  transform: translateY(-50%);
  -webkit-appearance: none;
  width: calc(26px * var(--ratio));
  height: calc(26px * var(--ratio));
  border-radius: calc(50%);
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: calc(10.05px * var(--ratio));
}
.btn {
  position: relative;
  margin-top: calc(50px * var(--ratio));
  height: calc(65px * var(--ratio));
  width: calc(100% - (80px * var(--ratio)));
  margin-left: calc(40px * var(--ratio));
  border-radius: calc(10px * var(--ratio));
  background: white;
  background: linear-gradient(92.06deg, #227aff -2.27%, #bc5ee9 100%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(17.52px * var(--ratio));
}
@media only screen and (min-width: 500px) {
  .app {
    width: 500px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
  }
  .copy-btn,
  .btn,
  .list,
  .slider {
    cursor: pointer;
  }
}
